.font-icon {
    color: #fff;
    font-size: 1.5em;
}

.font-badge {
    color: #378c3f;
    font-size: 3.0em;
}

.font-wpp {
    color: #378c3f;
    font-size: 1.0em;
}

#backtop {
	position:fixed;
	bottom: 20px;
	right: 20px;
    color: #378c3f;
    font-size: 2.5em;
    display:none;
}
